.navbar{
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-brand {
  font-size: 30PX;
  letter-spacing: 4px;
  margin-right: 70PX;
  font-family: "Audiowide", sans-serif;
}
.nav-item {
  margin-left: 30px;
}
.typing{
  color: #1a6db1;
}
.game{
  color: #fff;
}
.icon{
  color: #fff;
  font-size:25px;
}
select {
  background-color: transparent;
  border: none;
  font-size: medium;
  color: rgb(239, 237, 237);
  margin:5px;
}
select option {
  background: #798c97;
  color: rgb(88, 87, 87);
} 
body {
  background-image: url(game.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mainpart {
  margin: 0 auto;
  background-color: rgba(255, 102, 186, 0.638);
  width: 800px;
  position: relative;
  top: 30%;
  z-index: 1;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
}
.details{
  height: 50px;
  width: 100%;
}
td{
  width: 280px;
  text-align: center;
}
.startbtn {
  border-radius: 40px;
  background-color: #1a6db1;
  color: #fff;
  width: 200px;
  margin-bottom: 20px;
}
.startbtn:hover{
  background-color: #1665a6ec;
  color: #fff;
}
.con{
  text-align: center;
}
.progress-bar{
  width: 100%;
  background-color: #1a6db1;
  transition: all 1s ease-in-out;
}
.text{
  width:250px;
}
.timeout{
  animation: shake 1s ease-in-out 0s 1;
}
@keyframes shake {
  0%, 100% {transform: translateX(0);} 
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
  20%, 40%, 60%, 80% {transform: translateX(10px);} 
}
.pause{
  border-radius: 20px;
  background-color: #1a6db1e0;
  color: #fff;
  border: 0px;
  font-size: large;
}
.pause:hover{
  background-color: #1665a6ec;
  color: #fff;
}




