/* .dropnav {
  color: rgb(238, 239, 240);

  z-index: 1;
  font-size: 15px;
  float: right;
  margin-top: 30px;
  font-family: "Audiowide", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;

}
*/

.navbar{
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-brand {
  font-size: 30PX;
  letter-spacing: 4px;
  margin-right: 70PX;
  font-family: "Audiowide", sans-serif;
}
.nav-item {
  margin-left: 30px;
  font-family: "Audiowide", sans-serif;

}

#intro {
  background-image: url(game.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mainpart {
  margin: 0 auto;
  background-color: rgba(255, 102, 186, 0.638);
  width: 800px;
  height: 300px;
  position: relative;
  top: 35%;
  z-index: 1;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
}
.details{
  height: 50px;
  width: 100%;
}
td{
  width: 280px;
  text-align: center;
}
.startbtn {
  border-radius: 40px;
  background-color: #1a6db1;
  color: #fff;
  width: 200px;
}
.con{
  text-align: center;
}
.icon{
  color: #fff;
  font-size:25px;
}
.modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:25px;
}
select {
  background-color: transparent;
  border: none;
  font-family: "Audiowide", sans-serif;
  font-size: medium;
  color: rgb(56, 56, 56);
}

select option {
  background: #798c97;
  color: rgb(88, 87, 87);
} 
.set{
  width: 40%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


.dark-mode {
  background-color: url(wp7609537.webp);
  color: rgb(213, 21, 21);
}